* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.header {
  flex: 0 0 100%;
  text-align: center;
}

.add-task-box {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

.add-task-input {
  border: 1px solid #000;
  display: block;
  font-size: 24px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-task-button {
  margin-top: 5px;
  width: 100%;
  font-size: 24px;
}

.state {
  flex: 0 0 50%;
}
